<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit note</title>
</head>
<body>
<h1>Edit note</h1>
<p>
    <a href="/notes">Note list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-note}" th:object="${note}" method="post">
    <input th:type="hidden" name="id" th:field="*{getTypeId()}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>NoteType:</td>
            <td>
                <select name="noteType">
                    <option th:each="n : ${noteTypes}"
                            th:value="${n.id}"
                            th:text="${n.name}"
                            th:selected="(${n.id} == *{noteType.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update note"></td>
        </tr>
    </table>
</form>
</body>
</html>