<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-note">Create new note</a>
<h1>Notes</h1>
<form>
    Search by name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>title</th>
        <th>content</th>
        <th>NoteType</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="note : ${notes}">
        <tr>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td th:text="${note.noteType?.name}"></td>
            <td><a th:href="@{/edit-note/__${note.getTypeId()}__ }">Edit</a></td>
            <td><a th:href="@{/delete-note/__${note.getTypeId()}__ }">Delete</a></td>

        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/notes'(page=${notes.number - 1})}" th:if="${notes.hasPrevious()}">Previous</a>
    <span th:text="${notes.number + 1}"></span>/<span th:text="${notes.totalPages}"></span>
    <a th:href="@{'/notes'(page=${notes.number + 1})}" th:if="${notes.hasNext()}">Next</a>
</div>
</body>
</html>